html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    display:grid;
    grid-template-columns: 22vw 78vw;
    grid-template-rows: 22vh 78vh;
    grid-template-areas: 
    "sidebar topbar"
    "sidebar main";
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.topbar{
    grid-area:topbar;
    background-color:rgba(184, 184, 184, 0.85);
    box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.27);;
}
.t1{
    display: flex;
    justify-content: space-between;
    margin-right: 168px;
    margin-left: 86px;
    margin-bottom: 26.98px;
}
.t2{
    display: flex;
    margin-left: 85px;
    margin-right: 168px;
    justify-content: space-between;
    align-items: center;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width:501px;
    height:50px;  
}
.butt{
    
    width:125px;
    height:50px;
    background-color: rgba(0, 0, 0, 0.31);
    border-radius: 20px;
    color:white;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.greet{
    width:85px;
    height:83px;
    border-radius: 42px;
}
.greetings{
    display: flex;
    align-items: flex-start;
}
.text{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}
.l1{
    font-size: 20px;
    font-weight:700; 
}
.l2{
    margin-top: 10px;
    font-size: 28px;
    font-weight: 700;
}
.pfp{
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 700;
    margin-top: 38px;
}
.empty{
    margin-left: 24px;
    margin-right: 193px;
}
.pimg{
    width:60px;
    height:60px;
    border-radius: 38px;
    margin-right: 34px;
}
.mag,.bell{
    width:35px;
    height:35px;
}
.empty{
    background-color: white;
    width:709px;
    height:35px;
    border-radius: 10px;
    border:solid 1px black;
}
.sa{
    display: flex;
    flex-direction: row;
    margin-top: 45px;
}
.sidebar{
    grid-area:"sidebar";
    display: flex;
    flex-direction: column;
    color:white;
    background-color: black;
    height:100vh;
}
.dash,.dashc1,.dashc2{
    margin-left:3.1vw;
}
.dash{
    margin-top:4.62vh;
    margin-bottom: 8.93vh;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.simg{
    margin-right:1.875vw;
}
.dci{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
}
.dashc1{
    margin-bottom: 14.7vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:10.41vw;
    height:22.8vh;
}

.dashc2{
    width:8.38vw;
    height:13.1vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dimg{
    width: 45px;
    height: 45px;
    margin-right:21.5px;
}
.simg{
    width:30px;
    height:30px;
}
.main{
    grid-area:main;
    background-color:rgba(0, 0, 0, 0.11);
    display: grid;
}
*{
}

.main1{
    margin-left:27px;
    width:827px;
    height: 708px;
    display: grid;
    grid-template-columns: 360px 360px;
    column-gap: 107px;
    grid-template-rows:200px 200px 200px;
    row-gap:45px;
}
.title{
    font-size:24px;
    font-weight: 700;
    width:157px;
    height:29px;
    margin-top:20px;
    margin-bottom:21px;
    margin-left:27px;
}
.card{
    width:344px;
    height:200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 4px 4px 2px rgba(0,0,0,0.25);
    border-left: 16px solid rgba(128, 128, 128, 0.45);
}
.main{
    display: grid;
    grid-template-columns: 855px 345px;
    column-gap: 182px;
}
.main1papa{
    margin-left: 27;
    width:855px;
    height:750px;
}
.main2{
    width:345px;
    height:756px;
    margin-top:20px;
    display: flex;
    flex-direction: column;
}
.atit{
    height: 29px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 21px;
}

.atab{
    width: 340px;
    height:342px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 4px 4px 2px rgba(0,0,0,0.25);
    margin-bottom: 33px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ttit{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 29px;
}

.ttab{
    width:340px;
    height:260px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 4px 4px 2px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.timg{
    width:24px;
    height:24px;
    margin-right: 10px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.ctitle{
    font-size:20px;
    font-weight: 800px;
    margin-left: 12px;
}
.ccontent{
    font-size: 16px;
    line-height: 19px;
    font-weight: 400px;
    margin-left: 12px;
    margin-right: 56px;
}
.track{
    display: flex;
    justify-content: flex-end;
    margin-right: 28px;
}

.a1,.a2,.a3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:291px;
    height:86px;
    margin-left: 16px;
    line-height: 16px;
    margin-right: 42px;
}
.a1,.a3{
    border-bottom: 1px solid black;
}
.a2{
    border-bottom: 1px solid black;
}
.tc{
    width:252px;
    height:60px;
    margin-left:27px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.trimg{
    width:60px;
    height:60px;
    border-radius: 50px;
    margin-right: 42px;
    border:solid 1px black;
}